/* line 1, ../sass/text.scss */
h1 {
  font-size: 4rem;
  color: white;
  text-align: left;
}

/*h1*/
/* line 8, ../sass/text.scss */
h2 {
  font-size: 2.75rem;
  color: lightgray;
  text-align: left;
}

/*h2*/
/* line 15, ../sass/text.scss */
h3 {
  font-size: 2rem;
}

/*h3*/
/* line 20, ../sass/text.scss */
h4 {
  font-size: 1.8rem;
}

/*h4*/
/*-------------------- SMALL PHONE - 320PX --------------------*/
@media (max-width: 320px) {
  /* line 28, ../sass/text.scss */
  h1 {
    font-size: 3rem;
  }

  /*h1*/
  /* line 33, ../sass/text.scss */
  h2 {
    font-size: 2.25rem;
  }

  /*h2*/
}
/*320px*/
